@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Nosifer&display=swap');



* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background: #F9F7F7;
}
header{
    margin: 1rem auto;
    display:grid;
    grid-template-columns: 120px 8fr 1fr;
    align-items:center;
    border-bottom: 1px solid #ccc;
    background: white;
    border: 1px solid #000;
  }
header nav{
    display: flex;
    justify-content:flex-end;
    
    
  }
a{
    color:#191A74;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
}

.hero{
    position: relative;
	font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
	position: relative; 
    border: 1px solid #000;
}
h1{
    position: absolute;
    bottom: 80%;
    right: 25%;
    /* color: #002B8F; */
    color: #191A74;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
    text-align: center;   
}
article{
    position: absolute;
	bottom: 400px;
	right: 15px;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
	background: radial-gradient(#eee, #F9F7F7);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9; 
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero article img{
    float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #bbb;
	width: 250px;
	height: auto;
}
h2 {
    display: flex;
    justify-content: center;
    color: #191A74;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    
}

.history {
    border: 1px solid #000;    
}
.history div {
    display: flex;
    justify-content: center;
}

.history img{
    width: 500px;
    height: 250px; 
}
.history p {
    text-align: center;
    width: 40%;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}
.adventure{
    border: 1px solid #000;
    clear: both;
}
.adventure div{
    display: flex;
    justify-content: space-around;
    
}
.adventure img{
    max-width: 200px;
    max-height: 150px;
    margin-bottom: 0%;
}
figcaption {
    background-color: #F9F7F7;
    color: #082d5a;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 3px;
    text-align: center;
    margin-top: 0%;
}
footer{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    text-align: center;
    background: #004529;
    color: white;
    border: 1px solid #000;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
     
}  


