* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    padding: 20px;
    margin: 70px;
}
h1 {
    color: steelblue;
    margin: 15px;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid blue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
    margin-left: 20px;
}
main {
    max-width: 840px;
}
/* aside { 
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba( 0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    /text-align: center;
} */
aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    
    margin: 1rem;
    border: 1.5px solid rgba(0, 0, 0,.1);
    padding: 1rem;
    background-color: aliceblue;
    width: 20em;
    text-align: center;
    clear: both;
}
aside h2{
    position: relative;
    top: 30px;
}